<div class="message-center">
  <div class="message-container">
    <div class="message">
      <h5>
        <%= @message %>
      </h5>
      <p>You</p>
    </div>
    <div class="message">
      <h5>
        <%= @coach_answer %>
      </h5>
      <p>Your Coach</p>
    </div>
    <%= link_to 'Ask a new question', ask_path %>
  </div>
</div>