<div class="form-center">
  <form action="/answer">
    <div class="form-group">
      <label for="question">Speak to your coach</label>
      <input type="text" id="question" name="query" class="form-control" placeholder="what time is it?">
    </div>
    <input class="btn btn-primary" type="submit" value="Go on!">
  </form>
</div>